@import url('../products-list-item/products-list-item.css');

[data-module='products-list'] {
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  margin-right: -20px;
}

/* @media (max-width: 651px) {
  [data-module='products-list'] {
    display: flex;
    flex-wrap: wrap;

  }

} */